.navbar {
  background: linear-gradient(to right, #00aaff, #00ffaa);
  padding: 0px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
  cursor: pointer;
}

.nav-links li:hover {
  text-decoration: underline;
}
